<!DOCTYPE html>
<html>

<head>
   <title>farri</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
   <style>
      .carte {
         background-color: rgb(4, 4, 44);
      }

      .footer {
         background: #111;
         padding: 100px 0 0;

      }
   </style>
</head>

<body>
   <div class="card shadow p-3 mb-5 rounded carte">
      <h1 class="text-center text-white">Projet Faari2020</h1>
   </div>
   <div class="card container shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
         <h1 class="text-center title">Présentation du projet</h1>
         <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur
         </p>
         <h1 class="text-center title">Résultats attendus</h1>

         <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur
         </p>
         <button class="btn btn-success"><a href="index.html">appli</a></button>
         <h1 class="text-center title">Membres de l'équipe</h1>


         <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/new/slides/082.jpg">
                  <div class="carousel-caption d-none d-md-block mb-5">
                     <h2>Ousmane Sall</h2>
                     <h3>Professeur d'universités</h3>
                     <p class="text-black">Enseignant-Chercheur en Informatique à l’UFR SET depuis 2007,<br>
                        M. SALL est Professeur Titulaire des Universités depuis Juillet 2019.<br>
                        Prof. SALL est spécialisé dans les problématiques liées à la décision dans le contexte du Web
                        Sémantique.
                        Il est le responsable et porteur du projet Check4Decsion financé par le CEA MITIC pour quinze
                        mois.</p>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/new/slides/082.jpg">
                  <div class="carousel-caption d-none d-md-block mb-5">
                     <h2>Mamadou Lamine Mboup</h2>
                     <h3>Professeur d'universités</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est
                        laborum.</p>
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/new/slides/082.jpg">
                  <div class="carousel-caption d-none d-md-block mb-5">
                     <h2>Ndeye Penda Diagne</h2>
                     <h3>Etudiante en Science des données et intelligence artificielle</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est
                        laborum.</p>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>




      </div>
   </div>
   <footer class="footer">
      <div class="container footer-inner">
         <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="footer-item">
                     <h4>Contact</h4>
                     <ul class="contact-info">
                         <li>
                           <i class="fas fa-arrows-alt"></i> Université de Thiès
                         </li>
                         <li>
                             <i class="fa fa-envelope"></i> check4decision@univ-thies.sn
                         </li>
                         <li>
                             <i class="fa fa-phone"></i> 77 205 17 79 / 76 8748130
                         </li>
                     </ul>
                     <ul class="social-list clearfix">
                         <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                 </div>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                 <div class="footer-item">
                     <h4>Liens utiles</h4>
                     <ul class="links">
                         <li>
                             <a href="#"><i class="fa fa-angle-right"></i>Moteur de recherche</a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-angle-right"></i>Fact-checking</a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-angle-right"></i>Tableau bord</a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-angle-right"></i>Publications</a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-angle-right"></i>Contact</a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                 <div class="recent-posts footer-item">
                     <h4>Recent Posts</h4>
                     <div class="media mb-4">
                         <!-- <a class="pr-3" href="portfolio-details.html">
                             <img src="assets/img/recent-portfolio/img-1.jpg" alt="recent-portfolio">
                         </a> -->
                         <div class="media-body align-self-center">
                             <p><a href="#"> Edouard Ngor Sarr &amp; Ousmane Sall. Automation of Fact-Checking: State of the Art, Obstacles and Perspectives</a></p>
                             <!-- <p><i class="fa fa-calendar"></i>27 Feb 2018</p> -->
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="footer-item clearfix c4d-newsletters">
                     <h4>Newsletters</h4>
                     <div class="Subscribe-box">
                         <form action="#" method="GET">
                             <p>
                                 <input type="text" class="form-contact" name="email" placeholder="Entrez votre email">
                             </p>
                             <p>
                                 <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                                     Souscription
                                 </button>
                             </p>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
 
         <div class="row">
             <div class="col-xl-12">
                 <p class="copy">Copyright ©<script>document.write(new Date().getFullYear());</script>2021 Tous les droits réservés par <a href="https://check4decision.univ-thies.sn/" target="_blank">Check4Decision</a></p><a href="https://check4decision.univ-thies.sn/" target="_blank">
             </a></div><a href="https://check4decision.univ-thies.sn/" target="_blank">
         </a></div><a href="https://check4decision.univ-thies.sn/" target="_blank">
     </a></div>
   </footer>


</body>

</html>